.App {
  text-align: center;
}

html {
  background-color: #2f2f2f;
}

.headerLine {
  margin-right: 3%;
  margin-left: 3%;
}

.headerTitle {
  color: white;
}

.headerButton {
  top: 1%;
  left: 4%;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  position: absolute;
  background-color: #2f2f2f;
  border-color: white;
}

.headerButton:hover {
  background-color: rgb(7, 224, 43);
  border-color: white;
}

.headerPicture {
  width: 80%;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.delete:hover {
  background-color: rgb(241, 0, 0);
  border-color: white;
}

.jwt {
  width: 100%;
}

.jwtBtn {
  top: 1%;
  right: 4%;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  margin-top: -1%;
  border: none;
}

.deletePicture {
  rotate: 90deg;
  width: 80%;
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: rotate(45deg);
}
