h1 {
  margin-top: 15%;
  color: white;
}

html {
  background-color: #2f2f2f;
}

input {
  margin-bottom: 1%;
}

input {
  background-color: #4d4d4d;
  width: 16%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

button {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 16%;
  padding: 12px 20px;
  margin: 8px 0;
  color: white;
}

.btn:hover {
  background-color: #d0d0d0;
  color: black;
}

.link {
  color: #ccc;
}

.divLink {
  margin-right: 5%;
}
